@font-face {
    font-family: 'lab_grotesquemedium_italic';
    src: url('labgrotesquemediumitalic-webfont.woff2') format('woff2'),
         url('labgrotesquemediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lab_grotesqueregular';
    src: url('labgrotesqueregular-webfont.woff2') format('woff2'),
         url('labgrotesqueregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lab_grotesqueblack';
    src: url('labgrotesqueblack-webfont.woff2') format('woff2'),
         url('labgrotesqueblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lab_grotesqueblack_italic';
    src: url('labgrotesqueblackitalic-webfont.woff2') format('woff2'),
         url('labgrotesqueblackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lab_grotesquebold';
    src: url('labgrotesquebold-webfont.woff2') format('woff2'),
         url('labgrotesquebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lab_grotesquebold_italic';
    src: url('labgrotesquebolditalic-webfont.woff2') format('woff2'),
         url('labgrotesquebolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lab_grotesqueitalic';
    src: url('labgrotesqueitalic-webfont.woff2') format('woff2'),
         url('labgrotesqueitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lab_grotesquelight';
    src: url('labgrotesquelight-webfont.woff2') format('woff2'),
         url('labgrotesquelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lab_grotesquelight_italic';
    src: url('labgrotesquelightitalic-webfont.woff2') format('woff2'),
         url('labgrotesquelightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}@font-face {
    font-family: 'lab_grotesquemedium';
    src: url('labgrotesquemedium-webfont.woff2') format('woff2'),
         url('labgrotesquemedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}